* {
    box-sizing: border-box;
}

:root {
	--dark: #1d1d1d;
    --grey-dark: #414141;
	--light: #fff;
	--mid: #ededed;
    --grey: #989898;
    --gray: #989898;
	--green: #28a92b;
    --green-dark: #4e9815;
	--green-light: #6fb936;
	--blue: #2c7ad2;
	--purple: #8d3dae;
	--red: #c82736;
	--orange: #e77614;
    accent-color: var(--green);
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.box {
    display: block;
}

.box {
	width: 75px;
	height: 75px;
    border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--green);
	font-weight: 600;
	color: var(--light);
}

.circle {
	width: 75px;
	height: 75px;
    border-radius: 99px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--green);
	font-weight: 600;
	color: var(--light);
}

/* colors */
.green {
	background-color: var(--green);
}
.blue {
	background-color: var(--blue);
}
.purple {
	background-color: var(--purple);
}
.red {
	background-color: var(--red);
}
.orange {
	background-color: var(--orange);
}
.dark {
	background-color: var(--dark);
	color: var(--light);
}
.light {
	background-color: var(--light);
	color: var(--dark);
}
.text-light {
  color: var(--light);
}
.text-dark {
  color: var(--dark);
}
.gray,
.grey {
	background-color: var(--grey);
}


.playground {
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 12px;
}

.playground .box {
    margin-bottom: 10px;
}

